// Font Weight
$fw-normal: 400;
$fw-bold: 700;  
$fw-bolder: 900;

// color
$white: #FFFFFF;
$dark: #1E1E1E;
$primary: #020202;
$secondary: #525252;
$gray-100: #F2F2F2;
$gray-200: #919191;

$spacer : 16px;
// grid
$gutter-width: 24px;
$grid-num: 12;

